{% extends 'layouts/app.html' %}
 
<!-- Inicio bloque body -->
{% block body %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">


          <form action="{{url_for('vacuna_router.store')}}" method="POST" class="row g-3 needs-validation" novalidate>

            
            <div class="col-md-4">
              <label for="tipo_v" class="form-label">Tipo Vacuna: </label>
              <input type="text" class="form-control" name="tipo_v" required>
              <div class="valid-feedback">
                Los datos son Requeridos!
              </div>
            </div>

            <div class="col-md-4">
              <label for="fecha_v" class="form-label">Fecha Vacuna</label>
              <input type="text" class="form-control" name="fecha_v" required>
              <div class="valid-feedback">
                Los datos son Requeridos!
              </div>
            </div>
                               
           
            <div class="col-md-3">
              <label for="prox_v" class="form-label">Proxima Vacuna: </label>
              <input type="text" class="form-control" name="prox_v" >
              <div class="invalid-feedback">
                Los datos son Requeridos!
              </div>
            </div>

           
            <div class="input-group mb-3">
              <select class="form-select" name="mascota_id" aria-label="Default select example" >
                  <option selected>Seleccione Mascota</option>

                  {% for data in mascotas %}
                  <option value="{{data.idm}}" >{{data.idm}}{{'-'}}{{data.name}}</option>
                  {% endfor%}
              </select>
          </div>


            <div class="col-12">
              <div class="form-check" required>
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Confirmar los datos ingresados
                </label>
                <div class="invalid-feedback">
                  Debes confirmar los datos antes de enviar!!
                </div>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
          </form>

          
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
<!-- Fin bloque body -->
 
{% block css%}
 
{% endblock %}
<!-- Fin bloque estilos -->
 
{% block js%}
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.prototype.slice.call(forms)
 .forEach(function (form) {
   form.addEventListener('submit', function (event) {
     if (!form.checkValidity()) {
       event.preventDefault()
       event.stopPropagation()
     }

     form.classList.add('was-validated')
   }, false)
 })
})()
</script>
{% endblock %}
<!-- Fin bloque scripts -->